* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(124, 124, 124);
    padding-left: 30px;
    padding-right: 30px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    color: rgb(182, 182, 182);
}
header {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 120px;
}
input {
    height: 30px;
}
img, span, input {
    margin-right: 10px;
}
.go {
    width: 60px;
    height: 33px;
}
h3 {
    color: orange;
    margin-bottom: 20px;
}
